@import '../../_assets/styles/abstracts/vars.scss';

.average {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  background: #f00;
  padding: $p-xs;
  border-bottom-left-radius: 1rem;
  color: $secondary-color;
}

.imgWrapper {
  position: relative;
  margin-bottom: $m-s;
}

.parental {
  position: absolute;
    bottom: 0;
    left: 0;
    width: 5rem;
    display: block;

    img {
      display: block;
      max-width: 100%;
    }
}

.title {
  font-weight: 700;
}