// COLORS
$primary-color: #000;
$secondary-color: #fff;
$ternary-color: #ccc;

// FONT
$fs-xs: 1rem;
$fs-s: 1.5rem;
$fs-m: 2rem;
$fs-l: 2.5rem;
$fs-xl: 3rem;

// PADDING
$p-xs: .5rem;
$p-s: 1rem;
$p-m: 1.5rem;
$p-l: 2rem;
$p-xl: 3rem;

// MARGIN
$m-xs: .5rem;
$m-s: 1rem;
$m-m: 1.5rem;
$m-l: 2rem;
$m-xl: 3rem;